<div class="container-fluid devise-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 details">
      <h3>Users</h3>
      <div class="column">
        <table class="table">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <%= render user %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
