<div class="container-fluid devise-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 details">
      <h3>User</h3>
      <p>Name: <%= @user.name if @user.name %></p>
      <p>Email: <%= @user.email if @user.email %></p>
    </div>
  </div>
</div>
