/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";
@import "bookings";
@import "login";

body {
  font-family: 'Open Sans';
  background-color: #eceeef;
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}
.center {
  text-align: center;
}
.app-message {
  position: fixed;
  top: 64px;
  right: 10px;
  z-index: 2000;
  .close-message {
    margin-left: 10px;
  }
}
